@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold-webfont.woff2") format("woff2"), url("Roboto-Bold-webfont.woff") format("woff"), url("Roboto-Bold-webfont.ttf") format("truetype"), url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* shrikhand-regular - latin */
body {
  margin: 0px;
}

.local {
  background-color: rgba(0, 0, 0, 0.145);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 10px 0px;
}

.local .search {
  border: none;
  background-color: #00000000;
}

.reserv {
  background-color: rgba(152, 226, 207, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px 60px 40px;
}

.reserv p {
  text-align: center;
  font-size: 22px;
  margin: 0px 0px 20px 0px;
}

.reserv h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0px 20px 0px;
}

article {
  margin: 40px 0px 40px 0px;
}

article h3 {
  font-size: 25px;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li {
  max-width: 100%;
  height: 75px;
  border: 1px rgba(152, 226, 207, 0.24) solid;
  background-color: rgba(152, 226, 207, 0.24);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 10px silver;
          box-shadow: 4px 4px 10px silver;
}

.num {
  font-size: 15px;
  position: absolute;
  left: 5px;
  border: 1px #9256dc solid;
  background-color: #9256dc;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li i {
  position: absolute;
  left: 50px;
  font-size: 22px;
}

.num--3 {
  background-color: #9256dc3b;
  border: none;
}

.num--3 i {
  color: #9256dc;
}

aside {
  background-color: rgba(152, 226, 207, 0.24);
  padding: 40px 10px 40px 10px;
}

.titre {
  font-size: 35px;
}

.restau {
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 5px 5px 10px silver;
          box-shadow: 5px 5px 10px silver;
  margin-top: 20px;
  max-width: 100%;
  position: relative;
}

.restau img {
  border-radius: 20px 20px 0px 0px;
  max-width: 100%;
}

.restau a {
  text-decoration: none;
  color: #000000;
}

.restau h3 {
  margin: 0px;
  padding: 15px 0px 5px 10px;
}

.restau p {
  margin: 0px;
  padding: 0px 0px 15px 10px;
  font-size: 20px;
}

.nouv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px #99E2D0 solid;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #549685;
  font-size: 20px;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.coeur--plein {
  opacity: 0;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.coeur--plein:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  color: #9256dc;
}

.coeur--vide {
  opacity: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.coeur--vide:hover {
  opacity: 0;
}

/* fin index */
/* Menu */
.photo-nom h2 {
  margin: 0px;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: 446px;
  background-color: #9fb6b0;
  font-size: 35px;
  padding-left: 20px;
  padding-top: 30px;
  width: 620px;
}

.photo-nom img {
  position: relative;
}

.coeur--plein__menu {
  opacity: 0;
  position: absolute;
  right: 40px;
  top: 480px;
  font-size: 30px;
}

.coeur--plein__menu:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  color: #9256dc;
}

.coeur--vide__menu {
  opacity: 1;
  position: absolute;
  right: 40px;
  top: 480px;
  font-size: 30px;
}

.coeur--vide__menu:hover {
  opacity: 0;
}

.menu-mep {
  background-color: #9fb6b0;
  margin: 0px;
  padding: 40px 10px 40px 10px;
}

.titresoul {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #99E2D0;
  width: 70px;
}

.plats--1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.plats--2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.plats--3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.plats--4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.plats--5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.plats--6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.plats--7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.plats--8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.plats--9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.plats--1, .plats--2, .plats--3, .plats--4, .plats--5, .plats--6, .plats--7, .plats--8, .plats--9 {
  display: block;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 10px 0px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation-name: menu;
          animation-name: menu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.plats--1:hover .check, .plats--2:hover .check, .plats--3:hover .check, .plats--4:hover .check, .plats--5:hover .check, .plats--6:hover .check, .plats--7:hover .check, .plats--8:hover .check, .plats--9:hover .check {
  -webkit-transform: translate(-80px, 0);
          transform: translate(-80px, 0);
  right: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.plats--1:hover .prix, .plats--2:hover .prix, .plats--3:hover .prix, .plats--4:hover .prix, .plats--5:hover .prix, .plats--6:hover .prix, .plats--7:hover .prix, .plats--8:hover .prix, .plats--9:hover .prix {
  -webkit-transform: translate(-80px, 0);
          transform: translate(-80px, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h4 {
  margin: 0px;
}

.menutxt {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check {
  position: absolute;
  background-color: #99E2D0;
  top: 0px;
  bottom: 0px;
  right: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  color: #ffffff;
  font-size: 40px;
}

.prix {
  font-weight: bold;
}

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Menu */
h2 {
  font-family: 'Shrikhand', Arial, sans-serif;
  font-size: 28px;
}

h3 {
  font-family: 'robotobold', 'robotoregular', Arial, sans-serif;
  font-size: 20px;
}

p {
  font-family: 'robotoregular', 'robotobold', Arial, sans-serif;
  font-size: 15px;
}

body {
  font-family: 'robotobold', 'robotoregular', Arial, sans-serif;
}

.foot {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.foot a {
  text-decoration: none;
  color: #ffffff;
}

.foot i {
  padding-right: 5px;
}

.foot h2 {
  margin: 0px;
}

.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entete a {
  text-decoration: none;
  color: #000000;
}

.entete-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entete-menu a {
  text-decoration: none;
  color: #000000;
}

.entete-menu i {
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: 25px;
}

.btn__mark {
  border: none;
  background-color: #00000000;
  cursor: pointer;
}

.btn__explorer {
  background: -webkit-gradient(linear, right bottom, left top, from(#9256dc), to(#FF79DA));
  background: linear-gradient(to left top, #9256dc, #FF79DA);
  color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  font-size: 16px;
  width: 250px;
  height: 50px;
  margin: 20px;
  border: none;
  -webkit-box-shadow: 8px 8px 20px silver;
          box-shadow: 8px 8px 20px silver;
}

.btn__explorer:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: -webkit-gradient(linear, right bottom, left top, from(#a062eb), to(#ff86dd));
  background: linear-gradient(to left top, #a062eb, #ff86dd);
  -webkit-box-shadow: 8px 8px 20px #696767;
          box-shadow: 8px 8px 20px #696767;
  cursor: pointer;
}

.btn--commander {
  background: -webkit-gradient(linear, right bottom, left top, from(#9256dc), to(#FF79DA));
  background: linear-gradient(to left top, #9256dc, #FF79DA);
  color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  font-size: 16px;
  width: 250px;
  height: 50px;
  margin: 20px;
  border: none;
  -webkit-box-shadow: 8px 8px 20px silver;
          box-shadow: 8px 8px 20px silver;
}

.btn--commander:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: -webkit-gradient(linear, right bottom, left top, from(#a062eb), to(#ff86dd));
  background: linear-gradient(to left top, #a062eb, #ff86dd);
  -webkit-box-shadow: 8px 8px 20px #696767;
          box-shadow: 8px 8px 20px #696767;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */