@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold-webfont.woff2") format("woff2"), url("Roboto-Bold-webfont.woff") format("woff"), url("Roboto-Bold-webfont.ttf") format("truetype"), url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* shrikhand-regular - latin */
body {
  margin: 0px;
}

.loader {
  background-image: url(../../images/loader.gif);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #FFF;
  z-index: 100;
  text-align: center;
  padding-top: 40px;
  -webkit-animation: disapear 3s forwards;
          animation: disapear 3s forwards;
}

@-webkit-keyframes disapear {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -100;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -100;
  }
}

@media (min-width: 640px) {
  .mepbodymenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ecebeb;
  }
}

.local {
  background-color: rgba(0, 0, 0, 0.145);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 10px 0px;
}

.local .search {
  border: none;
  background-color: #00000000;
  height: 30px;
  font-size: 20px;
}

.reserv {
  background-color: #f0fcf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px 60px 40px;
}

.reserv p {
  text-align: center;
  font-size: 22px;
  margin: 0px 0px 20px 0px;
}

.reserv h3 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0px 20px 0px;
}

@media (min-width: 640px) {
  .corps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

article {
  margin: 40px 0px 40px 0px;
}

@media (min-width: 640px) {
  article {
    width: 640px;
  }
}

article h3 {
  font-size: 25px;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li {
  max-width: 100%;
  height: 75px;
  border: 1px #f0fcf8 solid;
  background-color: #f0fcf8;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 10px;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 10px silver;
          box-shadow: 4px 4px 10px silver;
  position: relative;
}

.num {
  font-size: 15px;
  position: absolute;
  left: -10px;
  border: 1px #9256dc solid;
  background-color: #9256dc;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li i {
  position: absolute;
  left: 50px;
  font-size: 22px;
}

.num--3 {
  background-color: #9256dc3b;
  border: none;
}

.num--3 i {
  color: #9256dc;
}

aside {
  background-color: #f0fcf8;
  padding: 40px 10px 40px 10px;
}

@media (min-width: 640px) {
  aside {
    height: auto;
    width: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 960px) {
  aside {
    width: 960px;
  }
}

.titre {
  font-size: 35px;
}

@media (min-width: 640px) {
  .titre {
    height: 50px;
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media (min-width: 960px) {
  .titre {
    padding-right: 300px;
    padding-left: 300px;
  }
}

.restau {
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 5px 5px 10px silver;
          box-shadow: 5px 5px 10px silver;
  margin-top: 20px;
  max-width: 100%;
  position: relative;
}

@media (min-width: 640px) {
  .restau {
    width: 300px;
  }
}

.restau img {
  border-radius: 20px 20px 0px 0px;
  max-width: 100%;
}

.restau a {
  text-decoration: none;
  color: #000000;
}

.restau h3 {
  margin: 0px;
  padding: 15px 0px 5px 10px;
}

.restau p {
  margin: 0px;
  padding: 0px 0px 15px 10px;
  font-size: 20px;
}

.nouv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px #99E2D0 solid;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #549685;
  font-size: 20px;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.coeur--plein {
  opacity: 0;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.coeur--plein:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  color: #9256dc;
  cursor: pointer;
}

.coeur--vide {
  opacity: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.coeur--vide:hover {
  opacity: 0;
  cursor: pointer;
}

/* fin index */
/* Menu */
.photo-nom--1 h2 {
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: 225px;
  background-color: #f0fcf8;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 10px;
  width: 99%;
}

.photo-nom--1 {
  background-image: url(../../images/Lapalettedugoutentete1900.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.photo-nom--2 h2 {
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: 225px;
  background-color: #f0fcf8;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 10px;
  width: 99%;
}

.photo-nom--2 {
  background-image: url(../../images/Alafrancaiseentete1900.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.photo-nom--3 h2 {
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: 225px;
  background-color: #f0fcf8;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 10px;
  width: 99%;
}

.photo-nom--3 {
  background-image: url(../../images/lanoteenchanteentete1900.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.photo-nom--4 h2 {
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: 225px;
  background-color: #f0fcf8;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 10px;
  width: 99%;
}

.photo-nom--4 {
  background-image: url(../../images/ledelicedessensentete1900.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.coeur--plein__menu {
  opacity: 0;
  position: absolute;
  right: 40px;
  top: 290px;
  font-size: 30px;
}

.coeur--plein__menu:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  color: #9256dc;
  cursor: pointer;
}

.coeur--vide__menu {
  opacity: 1;
  position: absolute;
  right: 40px;
  top: 290px;
  font-size: 30px;
}

.coeur--vide__menu:hover {
  opacity: 0;
  cursor: pointer;
}

@media (min-width: 960px) {
  .blockmenu--1 {
    max-width: 322px;
  }
}

@media (min-width: 960px) {
  .blockmenu--2 {
    max-width: 327px;
  }
}

@media (min-width: 960px) {
  .blockmenu--3 {
    max-width: 305px;
  }
}

@media (min-width: 960px) {
  .blockmenu--4 {
    max-width: 302px;
  }
}

@media (min-width: 960px) {
  .blockmenu--5 {
    max-width: 295px;
  }
}

@media (min-width: 960px) {
  .blockmenu--6 {
    max-width: 325px;
  }
}

@media (min-width: 960px) {
  .blockmenu--7 {
    max-width: 261px;
  }
}

@media (min-width: 960px) {
  .blockmenu--8 {
    max-width: 299px;
  }
}

@media (min-width: 960px) {
  .blockmenu--9 {
    max-width: 253px;
  }
}

@media (min-width: 960px) {
  .blockmenu--10 {
    max-width: 295px;
  }
}

@media (min-width: 960px) {
  .blockmenu--11 {
    max-width: 317px;
  }
}

@media (min-width: 960px) {
  .blockmenu--12 {
    max-width: 220px;
  }
}

.menu-mep {
  background-color: #f0fcf8;
  margin: 0px;
  padding: 40px 10px 40px 10px;
}

@media (min-width: 640px) {
  .menu-mep {
    width: 97%;
  }
}

@media (min-width: 960px) {
  .menu-mep {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.titresoul {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #99E2D0;
  width: 70px;
}

.plats--1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.plats--2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.plats--3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.plats--4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.plats--5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.plats--6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.plats--7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.plats--8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.plats--9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.plats--10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.plats--1, .plats--2, .plats--3, .plats--4, .plats--5, .plats--6, .plats--7, .plats--8, .plats--9, .plats--10 {
  display: block;
  padding: 20px 30px 20px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
  -webkit-box-shadow: 4px 4px 10px silver;
          box-shadow: 4px 4px 10px silver;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation-name: menu;
          animation-name: menu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.plats--1:hover .check, .plats--2:hover .check, .plats--3:hover .check, .plats--4:hover .check, .plats--5:hover .check, .plats--6:hover .check, .plats--7:hover .check, .plats--8:hover .check, .plats--9:hover .check, .plats--10:hover .check {
  -webkit-transform: translate(-80px, 0);
          transform: translate(-80px, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.plats--1:hover i, .plats--2:hover i, .plats--3:hover i, .plats--4:hover i, .plats--5:hover i, .plats--6:hover i, .plats--7:hover i, .plats--8:hover i, .plats--9:hover i, .plats--10:hover i {
  -webkit-transform: translate(-80px, 0);
          transform: translate(-80px, 0);
  right: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.plats--1:hover .prix, .plats--2:hover .prix, .plats--3:hover .prix, .plats--4:hover .prix, .plats--5:hover .prix, .plats--6:hover .prix, .plats--7:hover .prix, .plats--8:hover .prix, .plats--9:hover .prix, .plats--10:hover .prix {
  -webkit-transform: translate(-80px, 0);
          transform: translate(-80px, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.plats--1:hover .left, .plats--2:hover .left, .plats--3:hover .left, .plats--4:hover .left, .plats--5:hover .left, .plats--6:hover .left, .plats--7:hover .left, .plats--8:hover .left, .plats--9:hover .left, .plats--10:hover .left {
  padding-right: 110px;
}

@media (min-width: 960px) {
  .plats--1:hover .left, .plats--2:hover .left, .plats--3:hover .left, .plats--4:hover .left, .plats--5:hover .left, .plats--6:hover .left, .plats--7:hover .left, .plats--8:hover .left, .plats--9:hover .left, .plats--10:hover .left {
    padding-right: 110px;
  }
}

h4 {
  margin-top: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.menutxt {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.check {
  position: absolute;
  background-color: #99E2D0;
  top: 0px;
  bottom: 0px;
  right: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  color: #ffffff;
  font-size: 40px;
}

.prix {
  font-weight: bold;
  background-color: #ffffff;
  width: 30px;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bouton {
  background-color: #f0fcf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/** Menu **/
h2 {
  font-family: 'Shrikhand', Arial, sans-serif;
  font-size: 28px;
}

h3 {
  font-family: 'robotobold', 'robotoregular', Arial, sans-serif;
  font-size: 20px;
}

p {
  font-family: 'robotoregular', 'robotobold', Arial, sans-serif;
  font-size: 15px;
}

body {
  font-family: 'robotobold', 'robotoregular', Arial, sans-serif;
}

.foot {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.foot a {
  text-decoration: none;
  color: #ffffff;
}

.foot a:hover {
  color: #9256dc;
}

.foot i {
  padding-right: 5px;
}

.foot h2 {
  margin: 0px;
}

.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entete a {
  text-decoration: none;
  color: #000000;
}

.entete-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entete-menu a {
  text-decoration: none;
  color: #000000;
}

.entete-menu i {
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: 25px;
}

.btn__mark {
  border: none;
  background-color: #00000000;
  cursor: pointer;
  font-size: 30px;
}

.btn__explorer {
  background: -webkit-gradient(linear, right bottom, left top, from(#9256dc), to(#FF79DA));
  background: linear-gradient(to left top, #9256dc, #FF79DA);
  color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  font-size: 16px;
  width: 250px;
  height: 50px;
  margin: 20px;
  border: none;
  -webkit-box-shadow: 8px 8px 20px silver;
          box-shadow: 8px 8px 20px silver;
}

.btn__explorer:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: -webkit-gradient(linear, right bottom, left top, from(#a062eb), to(#ff86dd));
  background: linear-gradient(to left top, #a062eb, #ff86dd);
  -webkit-box-shadow: 8px 8px 20px #696767;
          box-shadow: 8px 8px 20px #696767;
  cursor: pointer;
}

.btn--commander {
  background: -webkit-gradient(linear, right bottom, left top, from(#9256dc), to(#FF79DA));
  background: linear-gradient(to left top, #9256dc, #FF79DA);
  color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  font-size: 16px;
  width: 250px;
  height: 50px;
  margin: 20px;
  border: none;
  -webkit-box-shadow: 8px 8px 20px silver;
          box-shadow: 8px 8px 20px silver;
}

.btn--commander:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: -webkit-gradient(linear, right bottom, left top, from(#a062eb), to(#ff86dd));
  background: linear-gradient(to left top, #a062eb, #ff86dd);
  -webkit-box-shadow: 8px 8px 20px #696767;
          box-shadow: 8px 8px 20px #696767;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */