.foot {
    background-color: $Noir;
    color: $Blanc;
    padding: 20px;
}
.foot a{
    text-decoration: none;
    color: $Blanc;
    &:hover {
        color: $Primaire;
    }
}
.foot i{
    padding-right: 5px;
}
.foot h2{
    margin: 0px;
}
