.btn {
        &__mark{
        border: none;
        background-color: $trans;
    }
        &__explorer {
        background-color: $Secondaire;
        color: $Blanc;
        border-radius: 25px 25px 25px 25px;
        font-weight: bold;
        font-size: 16px;
        width: 250px;
        height: 50px;
        margin: 20px;
        border: none;
        box-shadow: -8px -8px 20px #573186c2 inset;
        }
}