
        @font-face {
                font-family: 'robotoregular';
                src: url('Roboto-Regular-webfont.eot');
                src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
                     url('Roboto-Regular-webfont.woff2') format('woff2'),
                     url('Roboto-Regular-webfont.woff') format('woff'),
                     url('Roboto-Regular-webfont.ttf') format('truetype'),
                     url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
                font-weight: normal;
                font-style: normal;
            
            }
        @font-face {
                font-family: 'robotobold';
                src: url('Roboto-Bold-webfont.eot');
                src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
                     url('Roboto-Bold-webfont.woff2') format('woff2'),
                     url('Roboto-Bold-webfont.woff') format('woff'),
                     url('Roboto-Bold-webfont.ttf') format('truetype'),
                     url('Roboto-Bold-webfont.svg#robotobold') format('svg');
                font-weight: normal;
                font-style: normal;
            
         }
        /* shrikhand-regular - latin */
        @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
        margin: 0px;
}
.local {
        background-color: $Noir__fond;
        @include centre;
        padding: 10px 0px 10px 0px;
                .search{
                        border: none;
                        background-color: $trans;
                }

}
.reserv {
        background-color: $Menthe__fond;
        @include centre-colo;
        padding: 20px 40px 60px 40px;
}
.reserv p{
        text-align: center;
        font-size: 22px;
        margin: 0px 0px 20px 0px;
}
.reserv h3{
        text-align: center;
        font-size: 32px;
        margin: 20px 0px 20px 0px;
}
article{
        margin: 40px 0px 40px 0px;
}
article h3{
        font-size: 25px;
}
ul{
        list-style-type: none;
        padding: 5px;
}
li{
        max-width: 100%;
        height: 75px;
        border: 1px $Menthe__fond solid;
        background-color: $Menthe__fond;
        border-radius: 30px;
        @include centre-li;
        margin: 0px 0px 20px 0px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 4px 4px 10px silver;
}
.num{
        font-size: 15px;
        position: absolute;
        left: 5px;
        border: 1px $Primaire solid;
        background-color: $Primaire;
        color: $Blanc;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        @include centre-li;
}
li i{
        position: absolute;
        left: 50px;
        font-size: 22px;
}
.num--3{
        background-color: $Primaire-trans;
        border: none;
}
.num--3 i{
        color: $Primaire;
}
aside{
        background-color: $Menthe__fond;
        padding: 40px 10px 40px 10px;
}
.titre{
        font-size: 35px;
}
.restau{
        background-color: $Blanc;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 5px 5px 10px silver;
        margin-top: 20px;
        max-width: 100%;
        position: relative;
}
.restau img{
        border-radius: 20px 20px 0px 0px;
        max-width: 100%;
}
.restau a{
        text-decoration: none;
        color: $Noir;
}
.restau h3{
        margin: 0px;
        padding: 15px 0px 5px 10px;
}
.restau p{
        margin: 0px;
        padding: 0px 0px 15px 10px;
        font-size: 20px;
}
.nouv {
        @include centre-li;
        border: 1px $Tertiaire solid;
        border-radius: 5px;
        background-color: $Tertiaire;
        color: #549685;
        font-size: 20px;
        width: 100px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
}
.coeur--plein{
        opacity: 0;
        color: $Blanc;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
                &:hover{
                        transition: all 0.5s ease;
                        opacity: 1;
                        color: $Primaire;
                }
}
.coeur--vide{
        opacity: 1;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
                &:hover{
                        opacity: 0;
                }
}
/* fin index */
/* Menu */
.photo-nom h2{
        margin: 0px;
        border-radius: 30px 30px 0px 0px;
        position: absolute;
        top: 446px;
        background-color: $Vert__fond;
        font-size: 35px;
        padding-left: 20px;
        padding-top: 30px;
        width: 620px;
}
.photo-nom img{
        position: relative;
}
.coeur--plein__menu{
        opacity: 0;
        position: absolute;
        right: 40px;
        top: 480px;
        font-size: 30px;
        &:hover{
                transition: all 0.5s ease;
                opacity: 1;
                color: $Primaire;
        }
}
.coeur--vide__menu{
        opacity: 1;
        position: absolute;
        right: 40px;
        top: 480px;
        font-size: 30px;
        &:hover{
                opacity: 0;
        }
}
.menu-mep{
        background-color: $Vert__fond;
        margin: 0px;
        padding: 40px 10px 40px 10px;
}
.titresoul {
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid $Tertiaire;
}
.plats{
        @for $i from 1 to 10 {
                &--#{$i} {
                        animation-delay: 1s / 10 * $i;
                }
        }
}
@keyframes menu {
        0%{
            opacity: 0;
            transform: translateY(20%)
            }
        100%{
            opacity: 1;
            transform: translateY(0%)
            }
    }
.plats--1, .plats--2, .plats--3, .plats--4, .plats--5, .plats--6, .plats--7, .plats--8, .plats--9{
        display: block;
        background-color: $Blanc;
        border-radius: 20px;
        padding: 10px 20px 10px 20px;
        margin: 10px 0px 10px 0px;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease;
        animation-name: menu;
        animation-duration: 1s;
        animation-fill-mode: backwards;
        &:hover .check {
                transform: translate(-80px, 0);
                 right: 0px;
                transition: all 0.5s ease;
                 transform: rotate(-360deg);
        }
}
h4{
        margin: 0px;
}
.menutxt {
        margin: 0px;
        @include espace;
}
.check{
        position: absolute;
        background-color: $Tertiaire;
        top: 0px;
        bottom: 0px;
        right: -80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        color: $Blanc;
        font-size: 40px;
}
.prix{
        font-weight: bold;
}
.bouton{
        display: flex;
        justify-content: center;
        align-items: center;
}
/* Menu */