
        @font-face {
                font-family: 'robotoregular';
                src: url('Roboto-Regular-webfont.eot');
                src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
                     url('Roboto-Regular-webfont.woff2') format('woff2'),
                     url('Roboto-Regular-webfont.woff') format('woff'),
                     url('Roboto-Regular-webfont.ttf') format('truetype'),
                     url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
                font-weight: normal;
                font-style: normal;
            
            }
        @font-face {
                font-family: 'robotobold';
                src: url('Roboto-Bold-webfont.eot');
                src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
                     url('Roboto-Bold-webfont.woff2') format('woff2'),
                     url('Roboto-Bold-webfont.woff') format('woff'),
                     url('Roboto-Bold-webfont.ttf') format('truetype'),
                     url('Roboto-Bold-webfont.svg#robotobold') format('svg');
                font-weight: normal;
                font-style: normal;
            
         }
        /* shrikhand-regular - latin */
        @import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');

.local {
        background-color: $Noir__fond;
        @include centre;
        padding: 10px 0px 10px 0px;
                .search{
                        border: none;
                        background-color: $trans;
                }

}
.reserv {
        background-color: $Menthe__fond;
        @include centre-colo;
}
