
        @font-face {
                font-family: 'robotoregular';
                src: url('Roboto-Regular-webfont.eot');
                src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
                     url('Roboto-Regular-webfont.woff2') format('woff2'),
                     url('Roboto-Regular-webfont.woff') format('woff'),
                     url('Roboto-Regular-webfont.ttf') format('truetype'),
                     url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
                font-weight: normal;
                font-style: normal;
            
            }
        @font-face {
                font-family: 'robotobold';
                src: url('Roboto-Bold-webfont.eot');
                src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
                     url('Roboto-Bold-webfont.woff2') format('woff2'),
                     url('Roboto-Bold-webfont.woff') format('woff'),
                     url('Roboto-Bold-webfont.ttf') format('truetype'),
                     url('Roboto-Bold-webfont.svg#robotobold') format('svg');
                font-weight: normal;
                font-style: normal;
            
         }
        /* shrikhand-regular - latin */
        @import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');

.local {
        background-color: $Noir__fond;
        @include centre;
        padding: 10px 0px 10px 0px;
                .search{
                        border: none;
                        background-color: $trans;
                }

}
.reserv {
        background-color: $Menthe__fond;
        @include centre-colo;
        padding: 20px 40px 60px 40px;
}
.reserv p{
        text-align: center;
        font-size: 22px;
        margin: 0px 0px 20px 0px;
}
.reserv h3{
        text-align: center;
        font-size: 32px;
        margin: 20px 0px 20px 0px;
}
article{
        margin: 40px 0px 40px 0px;
}
article h3{
        font-size: 25px;
}
ul{
        list-style-type: none;
        padding: 5px;
}
li{
        max-width: 100%;
        height: 75px;
        border: 1px $Menthe__fond solid;
        background-color: $Menthe__fond;
        border-radius: 30px;
        @include centre-li;
        margin: 0px 0px 20px 0px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 4px 4px 10px silver;
}
.num{
        font-size: 15px;
        position: absolute;
        left: 5px;
        border: 1px $Primaire solid;
        background-color: $Primaire;
        color: $Blanc;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        @include centre-li;
}
li i{
        position: absolute;
        left: 50px;
        font-size: 22px;
}
.num--3{
        background-color: $Primaire-trans;
        border: none;
}
.num--3 i{
        color: $Primaire;
}
aside{
        background-color: $Menthe__fond;
        padding: 40px 10px 40px 10px;
}
.titre{
        font-size: 35px;
}
.restau{
        background-color: $Blanc;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 5px 5px 10px silver;
        margin-top: 20px;
        max-width: 100%;
        position: relative;
}
.restau img{
        border-radius: 20px 20px 0px 0px;
        max-width: 100%;
}
.restau a{
        text-decoration: none;
        color: $Noir;
}
.restau h3{
        margin: 0px;
        padding: 15px 0px 5px 10px;
}
.restau p{
        margin: 0px;
        padding: 0px 0px 15px 10px;
        font-size: 20px;
}
.nouv {
        @include centre-li;
        border: 1px $Tertiaire solid;
        border-radius: 5px;
        background-color: $Tertiaire;
        color: #549685;
        font-size: 20px;
        width: 100px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
}
.coeur--plein{
        z-index: 1;
        color: $Blanc;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
                &:hover{
                        z-index: 3;
                        color: $Primaire;
                }
}
.coeur--vide{
        z-index: 2;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
                &:hover{
                        z-index: 1;
                }
}
/* fin index */
/* Menu */
.photo-nom{
        background-color: $Menthe__fond;
        max-width: 640px;
        border-radius: 20px 20px 0px 0px;
}
.photo-nom h2{
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
}