@mixin centre{
    display: flex;
    justify-content:center;
}
@mixin centre-colo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin centre-li{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin espace{
    display: flex;
    justify-content: space-between;
}
@mixin photo-nom {
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 100%;
        position: relative;
}
@mixin photo-nom-h2 {
        border-radius: 30px 30px 0px 0px;
        position: absolute;
        top: 225px;
        background-color: $Gris__fond;
        font-size: 35px;
        padding-top: 30px;
        padding-left: 10px;
        width: 99%;
}