@mixin centre{
    display: flex;
    justify-content:center;
}
@mixin centre-colo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin centre-li{
    display: flex;
    justify-content: center;
    align-items: center;
}