$Primaire: #9256dc;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
$Noir: #000000;
$Noir__fond: rgba(0, 0, 0, 0.145);
$Blanc: #ffffff;
$Menthe__fond: rgb(240, 252, 248);
$trans: #00000000;
$Primaire-trans: #9256dc3b;
$Primaire-btn: #a062eb;
$Secondaire-btn: #ff86dd;
$Vert__fond: #b8ccc7;